.container-search {
    display: flex;
    flex-direction: column;
    width: 100%;

    .card-search {
        margin: 60px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-sugestion {
        background-color: $backgorund-primary;
        margin-top: 15px;
        padding: 15px;
        border-radius: 4px;
        width: 520px;
        
    }

    @media only screen and (max-width: 800px) {
        display: grid;

        .card-search {
            display: grid;
            margin: 10px;
        }

        .card-sugestion {
            width: auto;
        }
    }
}